{% extends 'base.html' %}

{% load static %}

{% block title %}
    Landing Page
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static "base.css" %}">
{% endblock %}

{% block content %}
    <header class="mainHeading">
        <div class="mainHeading__content">
            <div class="mainHeading__text">
                <p class="mainHeading__preTitle">Welcome to</p>
                <h1 class="mainHeading__title">Netra Vista</h1>
                <p class="mainHeading__description">
                    Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus.
                    Ut vehicula rhoncus elementum. Etiam quis tristique lectus.
                    Aliquam in arcu eget velit pulvinar dictum vel in justo.
                </p>
                <button class="cta">Get Started</button>
            </div>
            <div class="mainHeading__image">
                <img src="{% static "Images/home.jpg" %}" alt="Placeholder Image" class="index-image">
            </div>
        </div>
    </header>

    <!-- Other Sections or Content for Landing Page -->

    <!-- Example Section -->
    <section class="about">
        <!-- Content for the about section -->
    </section>
{% endblock %}
